.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo-wrapper{
  text-align: left;
}

/* styles.css */

/* Navbar */
.navbar {
  padding: 0.5rem 1rem;
}
.navbar-brand {
  color: #fff;
  font-size: 1.25rem;
}
.nav-link {
  color: #fff;
  margin: 0 1rem;
}
.nav-link:hover {
  color: #ccc;
}
/* End of Navbar */

/* About me Section */
#landing-section {
  padding: 2rem 0;
}
.list-group-item {
  background-color: transparent;
  border-color: #ddd;
  color: #000;
}
.border {
  border: 1px solid #000;
}
/* End of About me Section */

/* Tools Section */
#tools-section {
  padding: 2rem 0;
}
/* End of Tools Section */

/* Contact Section */
#contact-section {
  padding: 2rem 0;
}
.map-container {
  margin-top: 2rem;
}
/* End of Contact Section */

/* Footer */
.footer {
  padding: 1rem 0;
  background-color: #000;
  color: #fff;
}
/* End of Footer */

